@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>@ViewData["Title"]</h2>

<table>
    <tr>
        <th class="col-6">
            Enrollment Date
        </th>
        <th class="col-6">
            Students
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td class="col-6"> 
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td class="col-6">
                @item.StudentCount
            </td>
        </tr>
    }
</table>